--trusted-host=mirrors.volces.com
--index-url https://mirrors.volces.com/pypi/simple/

Django>=3.2,<3.3
python-decouple==3.5
dj-database-url==0.5.0
psycopg2-binary==2.8.6
pytz==2019.1
apns==2.0.1
gunicorn==20.1.0
uvicorn
django-simple-captcha==0.5.17
django-multi-captcha-admin==2.0.0
django-mirage-field==1.4
